@import url(variables.css);

.accounting-page {
  background: white;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;

  .outlet-wrapper {
    /* background: red; */
    margin-top: 20px;
  }

  .xls-btn {
    background: #5a5a5a;
    margin-left: 10px;
    min-width: 160px;
  }

  .client-payments-page {
    /* background: red; */
  }
}

.show-add-payment-modal {
  min-width: 50vw;
  max-height: 75vh;
}
.show-add-expenses-modal {
  width: 50vw;
}
