@import url(variables.css);

.attendance-page {
  background: white;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;

  .outlet-wrapper {
    /* background: red; */
    margin-top: 20px;
  }
}

.room-form-page {
  .form-add-btn {
    width: 200px;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 16px;
  }

  .form-actions {
    /* background: red; */
    padding: 20px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin: 0 10px;
    }
  }
}
.action-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;

  button {
    width: 150px;
  }
}
