@import url(variables.css);

.rounds-page {
  background: white;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;

  .page-actions {
    /* border-bottom: 1px solid var(--light-border); */
    /* background: red; */
    padding-bottom: 20px;
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .search-wrapper {
    }

    .buttons {
      /* styles at media query  */
      display: flex;

      .archive-btn {
        color: var(--secondary-color);
        background: #fff1c2;

        margin-left: 40px;
        min-width: 160px;

        * {
          color: var(--secondary-color);
        }
      }

      .xls-btn {
        background: #5a5a5a;
        margin-left: 10px;
        min-width: 160px;
      }

      .add-round-btn {
        min-width: 160px;
        background: #02542d;
        margin-left: 10px;
      }
    }
  }
}

.round-mutation-form {
  min-width: 60%;
  max-height: 70%;
}
.round-form-page {
  .form-add-btn {
    width: 200px;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 16px;
  }
  .round-form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .form-actions {
    padding: 20px 40px;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    p {
      margin: 0 10px;
    }
  }
}
.action-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;

  button {
    width: 150px;
  }
}

@media (max-width: 1200px) {
  .search-wrapper {
    width: 100% !important;
  }
  .buttons {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
  }
}

.wrapContent {
  white-space: normal !important;
  overflow: visible !important;
  line-height: 1.5;
  height: auto !important; /* Allow the height to adjust */
}
/* show sessions button */
.show-sessions {
  margin: 0;
  font-size: 12px;
  border-radius: 10px;
  padding: 6px 4px;
  font-weight: bold;
  background: #3463d0;
}

.go-back-btn {
  margin-top: 16px;
  /* background: var(--primary-color); */
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 8px 0px;
  /* width: 100%; */
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  gap: 2;
  flex-direction: row-reverse;
  vertical-align: middle;
}
.go-back-btn:hover {
  text-decoration: underline;
}
.go-back-btn * {
  vertical-align: middle;
}

.sessions-modal {
  width: 60%;
  min-height: 240px;

  /* background: red; */
}

/*----------- add sessions form -------------- */

.add-one-by-one {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  .sumbit-actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .add-btn {
      background: #02542d;
      width: 100px;
      margin-left: 30px;
    }
    .cancel-btn {
      background: rgb(255, 40, 76);
      width: 100px;
    }
  }

  .added-sessions-list {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #dfdedec4;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    .add-btn {
      width: 120px;
      background: #02542d;
      margin: 0;
    }
  }

  .submit-form {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}

.add-bulk-section {
  .sumbit-actions {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
  }

  .submit-form {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    .checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.one-by-one-sessionsList {
  width: 100%;
  overflow-x: auto;
  .header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background: rgb(227, 227, 227);
    padding: 6px 0px;
    white-space: nowrap;
    width: max-content;
    min-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    span {
      width: 100px;
      flex-grow: 1;
      text-align: center;
    }

    span:nth-of-type(1) {
      width: 50px;
      text-align: center;
    }

    span:nth-of-type(2) {
      width: 160px;
    }
  }

  .session-row {
    /* background: rgba(244, 243, 243, 0.407); */
    padding: 0;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid #c1c1c1cd;
    min-width: 100%;
    width: max-content;
    .data-row {
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: nowrap;
      box-sizing: border-box;

      white-space: nowrap;
      width: max-content;
      min-width: 100%;

      span {
        width: 100px;
        flex-grow: 1;
        text-align: center;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      }

      span:nth-of-type(1) {
        width: 50px;
      }

      span:nth-of-type(2) {
        width: 160px;
      }
      span:last-of-type {
        /* background: red; */
      }

      * {
        padding: 0;
        margin: 0;
      }
    }

    .conflict-msg {
      /* background-color: blue; */
      max-width: 400px;
      padding: 10px;
      font-size: 14px;
      color: rgb(244, 64, 64);
    }
  }
}

.view-sessions-modal {
  max-height: 68vh;
  /* background: red; */
  width: 100%;

  .data-list {
    background: white;
    span {
      font-size: 14px;
      fcolor: #262626;
    }
    .data-row {
      /* background: red; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.view-round-modal {
  max-height: 70vh;
  width: 70%;
}

/* // Edit Modal */

.edit-page {
  .edit-round {
    .form-actions {
      display: flex;
      justify-content: flex-end;

      button {
        width: 150px;
      }
    }
  }

  .edit-sessions {
    .header {
      width: 100%;
      display: flex;
    }
    .sessions-list {
      min-width: 100%;
      width: max-content;
    }
  }
}
