@import url(variables.css);

.students-page {
  background: white;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;

  .page-actions {
    /* border-bottom: 1px solid var(--light-border); */
    /* background: red; */
    padding-bottom: 20px;
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .search-wrapper {
    }

    .buttons {
      /* styles at media query  */
      display: flex;

      .archive-btn {
        color: var(--secondary-color);
        background: #fff1c2;

        margin-left: 40px;
        min-width: 160px;

        * {
          color: var(--secondary-color);
        }
      }

      .xls-btn {
        background: #5a5a5a;
        margin-left: 10px;
        min-width: 160px;
      }

      .add-student-btn {
        min-width: 160px;
        background: #02542d;
        margin-left: 10px;
      }
    }
  }
}

.student-mutation-form {
  min-width: 60%;
  max-height: 60vh;
}
.student-enroll-form {
  min-width: 60%;
  max-height: 86vh;
}
.student-form-page {
  .form-add-btn {
    width: 200px;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 16px;
  }
  .student-form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .form-actions {
    /* background: red; */
    padding: 20px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p {
      margin: 0 10px;
    }
  }
}
.action-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;

  button {
    width: 150px;
  }
}

@media (max-width: 1200px) {
  .search-wrapper {
    width: 100% !important;
  }
  .buttons {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
  }
}

.student-view-modal {
  width: 800px;
}

.page-break {
  page-break-before: always;
}

.student-receipt-modal {
  /* width: 700px;
  padding: 5px; */

  /* Container for receipt */
  .receipt-section {
    /* width: 650px; */
    margin: auto;
  }
}

.receipt-box {
  width: 700px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  direction: rtl;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-left p {
  margin: 0;
}

.header-right {
  width: 25%;
}

.receipt-logo {
  width: 100%;
  border-radius: 4px;
}

/* Divider */
.divider {
  margin: 16px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* Content */
.content {
  margin-top: 16px;
  margin-bottom: 16px;
}

.content p {
  margin-bottom: 8px;
}

.content-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

/* Summary */
.summary {
  margin-top: 16px;
  margin-bottom: 16px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
